<div class="row">
	<div class="col-md-4">
		<dl class="faq">
			<dt class="one">Select account</dt>
			{{#each content}}
				<dd><a {{bindAttr href="view.href"}} {{action "fetch" id}}>{{name}}</a></dd>
			{{/each}}
		</dl>
	</div>
	{{outlet account}}
</div>
</br>
</br>
</br>
<div class="container referrers">
	{{outlet referrers}}
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>