<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				{{#each referrers}}
					{{#if text}}
						<li>{{#linkTo "referrer" this}}{{user.screen_name}}<span class="badge">{{totalClicks}}</span>{{/linkTo}}</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>
		<div class="col-md-8">
			<div class="input-daterange" id="datepicker">
				{{input type="text" class="input-small" name="start" value=startDate}}
				<span class="add-on">to</span>
				{{input type="text" class="input-small" name="end" value=endDate}}
			</div>
			{{outlet referrer}}
		</div>
	</div>
</div>