{{#if model.referrer.isExpanded}}
	<div class="well row tweetbox">
		<div class="col-md-1">
			<img {{bindAttr src=model.referrer.profile_image_url}} alt="Profile picture">
		</div>
		<div class="col-md-11">
			<blockquote>
				<p>
					{{#each chunks}}
						{{str}}<a {{bind-attr href=expanded_url}} target="_blank">{{url}}</a>
					{{/each}}
				</p>
				<small>{{model.referrer.name}} (@{{model.referrer.screen_name}})</small>
			</blockquote>
		</div>
		<a {{bind-attr href=model.conversation_url}} role="button" class="btn btn-info pull-right" target="_blank">See tweet</a>
		{{bar-chart data=model.clicks startDate=controllers.profile.startDate endDate=controllers.profile.endDate transition="transition"}}
		</br>
	</div>
{{else}}
	{{#if model.referrer.onlyOneTweet}}
		<div class="well row tweetbox">
			<div class="col-md-1">
				<img {{bindAttr src=model.referrer.profile_image_url}} alt="Profile picture">
			</div>
			<div class="col-md-11">
				<blockquote>
					<p>
						{{#each chunks}}
							{{str}}<a {{bind-attr href=expanded_url}} target="_blank">{{url}}</a>
						{{/each}}
					</p>
					<small>{{model.referrer.name}} (@{{model.referrer.screen_name}})</small>
				</blockquote>
			</div>
			<a {{bind-attr href=model.conversation_url}} role="button" class="btn btn-info pull-right" target="_blank">See tweet</a>
			{{bar-chart data=model.clicks startDate=controllers.profile.startDate endDate=controllers.profile.endDate transition="transition"}}
			</br>
		</div>
	{{/if}}
{{/if}}